<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cart.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/authentication.css') }}">
    <title>{% block title %}Welcome{% endblock %}</title>
</head>
<body>
         {% block content %}
            <div class="landing-page">
                <img class="landing-page-logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="oyibo food logo">
                <h1 class="landing-page-header">Food <br> for Everyone</h1>
                <img class="landing-page-banner" src="{{ url_for('static', filename='img/banner-img.png') }}" alt="pizza">
                <button class="landing-page-button"><a href="/home">Get Started</a></button>
            </div>
         {% endblock %}
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script href="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>