{% extends "base.html" %}
{% block title %}cart{% endblock %}
{% block content %}
    <div class="cart">
        <section>
            <a href="/home"><ion-icon name="arrow-back"></ion-icon></a>
            <p>cart</p>
        </section>
    </div>
    <ul class="card_ul">
        <li class="card_li">
            <img class="li_img" src="{{ url_for('static', filename='img/banner-img.png') }}" alt="">
            <h3>pizza</h3>
            <div>
                <h4>#299.9</h4>
                <ul>
                    <li>-</li>
                    <li>1</li>
                    <li>+</li>
                </ul>
            </div>
        </li>
    </ul>
{% endblock %}